@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using NetworkMonitorBlazor 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Network Monitor</title>
    <base href="~/" />
    <link href="_framework/scoped.styles.css" rel="stylesheet" />
    <link href="css/chat.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <!-- Add this right before the Blazor script -->
    <script src="/js/chatInterop.js"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>