@inherits LayoutComponentBase

<div >
    <main>
        <article >
            <ErrorBoundary>  <!-- Excellent addition -->
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>

